version: '3.8'
volumes:
  redis_data:
services:
  web-app:
    build: .
    ports:
      - "5000:5000"
    environment:
      - REDIS_HOST=db
    depends_on:
      - db

  db:
    image: "redis:alpine"
    volumes:
      - redis_data:/data
    restart: always