name: Action

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8

      - name: Lint flake8
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics

  production:
      needs: test
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      uses: ./.github/workflows/docker-build.yml
      with:
        image_name: my_web_app
      secrets:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_TOKEN }}

  pushRender:
    needs: call-docker-build
    runs-on: ubuntu-latest
    steps:
      - name: Render Deploy
        run: |
          curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK }}